{#{{form(formulaire)}}#}

{{form_start(formulaire)}} {#<form>#}

{{form_label(formulaire.username)}} {#<label>#}
{{form_widget(formulaire.email)}} {#<input type>#}

{{form_error(formulaire.username)}} 

{{form_end(formulaire)}} {#</form>#}